   
 .panel body{
     background-color: rgba(66, 65, 65, 0.57);
     text-align: center;
 }  
 .panel button{
     text-align:center;
 } 
  .panel input{
     text-align: center;
     margin-top: 5px;
 } 

.panel-default>.panel-heading {
     background-color: rgba(66, 65, 65, 0.57);
     text-align: center;
 }
 .thumbnail{
     background-color: rgba(66, 65, 65, 0.57);
       border: 1px solid darkred;
  display: inline-block;
  color: lightgrey;
     
 }
 .container{
       background-color: Black;
        display: inline-block;
        padding-top:20px;
        max-width: 1500px;
  
 }
 .panel-heading{
      position:10px;
      color: white;
 }
 .panel-body{
  background-color: grey;   
 }
 .caption>div{
     color: lightgrey;
     text-align: center;
 }
  .caption>button{
     text-align: center;
 }

.player-roster {
    display: block;
    margin: auto;
    text-align: center;
    min-height: 100px;
    min-width: 100px;
    border: 1px solid #337AB7;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}
.scroller{
    overflow-y: scroll; 
    height: 400px;
    background-color:white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.card{
    display: inline-block;
}
.media{
    border: 1px solid black;
}