   
 .panel body{
     background-color: rgba(66, 65, 65, 0.57);
     text-align: center;
 }   

.panel-default>.panel-heading {
     background-color: rgba(66, 65, 65, 0.57);
     text-align: center;
 }
 .thumbnail{
     background-color: rgba(66, 65, 65, 0.57);
       border: 1px solid darkred;
  display: inline-block;
  color: lightgrey;
     
 }
 .container{
       background-color: Black;
        display: inline-block;
        padding-top:20px;
  
 }
 .panel-heading{
      position:10px;
      color: white;
 }
 .caption>div{
     color: lightgrey;
     text-align: center;
 }
  .caption>button{
     text-align: center;
 }

.player-roster {
    display: block;
    margin: auto;
    text-align: center;
    min-height: 100px;
    min-width: 100px;
    border: 1px solid #337AB7;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.scroller{
    overflow-y: scroll; 
    height: 400px;
}